<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns       = "http://www.w3.org/ns/widgets"
		xmlns:gap       = "http://phonegap.com/ns/1.0"
		xmlns:android = "http://schemas.android.com/apk/res/android"
		id              = "br.com.diariodolixo"
		version         = "1.0.0">

	<name>Hora do Lixo Poa</name>

	<description>
		Hora do Lixo Poa
	</description>

	<gap:platforms>
		<gap:platform name="android" minVersion="2.1" />
	</gap:platforms>
	
	<gap:config-file platform="android" parent="/manifest/application">
		<activity android:launchMode="singleInstance" />
	</gap:config-file>

	<feature name="http://api.phonegap.com/1.0/device"/>
	
	<gap:plugin name="de.appplant.cordova.plugin.local-notification" />
	
	<preference name="permissions" value="none"/>
	<preference name="phonegap-version" value="3.5.0" />
	<preference name="android-installLocation" value="auto" />
	<preference name="android-targetSdkVersion" value="19" /> <!-- Android 4.4 -->
	<preference name="DisallowOverscroll" value="true"/>

	<access origin="*" />
	<icon src="img/ico.png" />
 </widget>
